header h1 {
    font-family: 'Orbitron', sans-serif;
    border-bottom: solid 1px black; 
    margin-bottom: 1em;
}
q { quotes: "“" "”" "‘" "’"; } 
* { font-family: Sans-Serif; text-decoration: none }

section > h1 {
    border-bottom: solid 1px black;
    // text-shadow: 2px 2px 30px #0f0;
}

.warning {
    background-color: red;
}


label {
    background-color: pink;
}

body div
{
    display: inline-block;
}

#ex2 ul 
{
    display: inline-block;
    list-style-type: none;
}


#ex2 {
    background-color: black;
    color: white;
    height: 100%;
//     position: relative;
//     left: 0px;
//     top: 0px; 
// 
//     // z-index: 100;
//     // display: inline-block;
}




